* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Uni;
    src: url(uni05_53.ttf)
}

@font-face {
    font-family: Outfit;
    src: url(Outfit-Variable.ttf)
}

body {
    overflow: hidden;
    font-family: Outfit;
    background-image:url(bg\ grid.png);
    background-position: center;
    background-size: cover;
}

body a {
    color: #B0530B;
}

body a:hover {
    color: #DC7C33;
}
p,h1,h2,h3 {
    padding-bottom: 16px;
}

h1,h2{
    font-family: Uni;
}
h3 {
    font-family: Outfit;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    border-radius: 16px 16px 0px 0px;
    padding: 2%;
    background-color: white;
}

nav a {
    color: #B0530B;
    text-decoration: none;
    font-size: 18px;
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#mobile {
    display: inline;
}

#container {
    margin:5% 8%;
    border: 2px solid black;
    border-radius: 20px;
    height: 50%;
    background-color: white;
}

#main {
    padding: 16px;
    height: 250px;
    overflow-y: scroll;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.flexText {
    width: 50%;
}

.flexText a:hover {
    color: #DC7C33;
    font-weight: bold;
}

.flex img {
    border: 2px solid #DC7C33;
    height: 200px;
    width: 150px;
}

.flexAtelier {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.flexAtelier img {
    border: 2px solid #DC7C33;
    height: 200px;
    width: 150px;
}

.flexPres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.flexPres img {
    border: 2px solid #DC7C33;
    height: 110px;
    width: 190px;
}
footer {
    border-radius: 0px 0px 16px 16px;
    border-top: 2px solid black;
    padding: 2%;
    text-align: center;
}

::-webkit-scrollbar {
width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #DC7C33; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #B0530B; 
}
@media screen and (max-width: 600px) {
    #container {
        border-radius: 5%;
        margin: 4%;
        height: 40%;
    }
    nav {
        border-radius: 18px 18px 0px 0px;
    }
    nav a {
        padding: 2%;
    }
    #mobile {
        display: none;
    }
    #main {
        height: 292px;
        padding: 8px 8px 0px 8px;
        overflow-y: scroll;
    }
    footer {
        border-radius: 0px 0px 18px 18px;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
}